<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>
    <link href="~/Frontend/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Frontend/css/material-kit.css" rel="stylesheet" />
    <link href="~/Frontend/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/Frontend/css/site.css" rel="stylesheet" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar">1-------------</span>
                <span class="icon-bar">2-------------</span>
                <span class="icon-bar">3-------------</span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>
    <script src="~/Frontend/js/jquery.min.js"></script>
    <script src="~/Frontend/js/jquery-1.12.4.min.js"></script>
    <script src="~/Frontend/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Frontend/js/bootstrap.min.js"></script>
    <script src="~/Frontend/js/bootstrap-datepicker.js"></script>
    <script src="~/Frontend/js/material.min.js"></script>
    <script src="~/Frontend/js/material-kit.js"></script>
    <script src="~/Frontend/js/nouislider.min.js"></script>
    <script src="~/Frontend/js/macrame.js"></script>
</body>
</html> 



















































































































































































































































































































































































































































































